#topic-information {
	width: 40%;

	ul {
		list-style: none;
	}

	li {
		display: list-item;
	}

	.topic-information-inner-wrapper {
		margin: 20px;

		.positive-mention {
			color: #00FF00;
		}

		.neutral-mention {
			color: inherit;
		}

		.negative-mention {
			color: #FF0000;
		}
	}
}