#wordcloud {
	width: 60%;

	ul {
		list-style: none;
	}

	li {
		display: inline;

		&.js-active {
			.topic-label {
				background-color: lightblue;
			}
		}
	}

	.topic {
		text-decoration: none;
	}

	.topic-label {
		white-space: nowrap;
		margin: .5em;

		&.high-sentiment-score {
			color: #FF0000;
		}
		&.medium-sentiment-score {
			color: #555555;
		}
		&.low-sentiment-score {
			color: #0000FF;
		}

		$types: 12;
		$type-width: 20px;

		@while $types > 0 {
			&.topic-size-#{$types} {
				font-size: #{$types}em;
			}
			$types: $types - 2;
		}
	}
}